[uwsgi]
socket = {{ base_dir }}/uwsgi.sock
chmod-socket = 775
chdir = {{ appdata_dir }}
master = true
binary-path = {{ venv_dir }}/bin/uwsgi
virtualenv = {{ venv_dir }}
module = {{ uwsgi_module }}
uid = {{ uid }}
gid = {{ gid }}
processes = {{ uwsgi_processes }}
threads = {{ uwsgi_threads }}
plugins = {{ uwsgi_plugins }}
logger = file:{{ base_dir }}/uwsgi.log
{% for env in uwsgi_env %}
env = {{ env }}
{% endfor %}
